.DS_Store
*.so
*.mo
*.dmg
__pycache__
build
env
_build
/cocoa/Info.plist
/cocoa/build
/cocoa/autogen
/cocoa/.waf*
/cocoa/.lock-waf*
/help/*/conf.py
/help/*/changelog.rst
/help/*/credits.rst
/help/*/image
/run.py
